/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    align-items: center;
    min-height: 100vh; // Asegura que ocupe toda la altura de la ventana
    background-color: #f5f5f5; // Fondo gris claro
    margin: 0;
    font-size:15px;
    color:hsla(0, 3%, 60%, 0.906)
  }

  .space{padding: 25px;}
  